*.md

!README.md

fb-sa-jobs-pk.json
*.env*
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Build artifacts (uncomment if you don't want to commit binaries)
# bin/
# !bin/application
